#latex
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.nav
*.snm
*.toc


*__pycache__

*build
*install
*log

# Logs
*logs
*.log
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*pnpm-debug.log*
*lerna-debug.log*

*node_modules
*dist
*dist-ssr
*.local

*/yolov8n.pt
*desktop.ini
*/core
ros2_ws/src/arm_description/meshes*
ros2_ws/src/my_robot_description/meshes/top.stl
ros2_ws/src/my_robot_description/meshes/lidar_base.stl
ros2_ws/src/my_robot_description/meshes/shoulder_small.stl
ros2_ws/src/my_robot_description/meshes/elbow_small.stl
ros2_ws/src/my_robot_description/meshes/base_gripper.stl
ros2_ws/src/my_robot_description/meshes/gear1.stl
ros2_ws/src/my_robot_description/meshes/gear2.stl
ros2_ws/src/my_robot_description/meshes/bar1.stl
ros2_ws/src/my_robot_description/meshes/bar2.stl
ros2_ws/src/my_robot_description/meshes/gripper1.stl
ros2_ws/src/my_robot_description/meshes/gripper2.stl
ros2_ws/src/my_robot_description/meshes/rplidar.stl
free_cad_files/rplidar.FCStd

*/.history/
*/.history/*